.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    margin: 11px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    text-transform: uppercase;
    color: black;
}

.boton:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(red, green, blue, alpha);
    margin: 11px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    color: purple;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}